
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.clear {
    clear: both;
}

td:first-child label {
    font-weight: 700;
}

.main{
    width: 440px;
    margin: 0 auto;
}

.main-input,
.main-input table {
    width: 320px;
}
.main-input{
    margin: 0 auto;
}

select,
input[type="text"],
input[type="number"],
textarea {
    width: 200px;
    padding: 5px 10px;
    margin: 0 auto;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance:textfield;
}
textarea {
    text-align: center;
    max-width: 200px;
    max-height: 87px;
}
input[type="file"]{
    width: 200px;
}

#CardHealth,
#CardMagicka,
#CardPower{
    width: 30px;
    padding: 5px 0;
    text-align: center;
}

td {
    padding: 10px 5px;
}

.btn-save_image {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #444;
    color: #FDF6DF;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 0;
}

.field_info{
    font-size: 0.75em;
    display: block;
}

@media screen and (min-width: 900px){
    .main{
        display: flex;
        width: 700px;
        align-items: center;
    }
}